# Python
__pycache__/
*.pyc
db.sqlite3
.env

# Django
*.log

# Node (React)
node_modules/

# Env
venv/
env/
cv_matching/

# OS
.DS_Store 

backend/.venv/
backend/frontend/node_modules/
backend/frontend/build/
backend/media/
__pycache__/
*.pyc
db.sqlite3backend/frontend/datamining_cvproject/
